
body {
    padding: 0;
    margin: 0;
    background-color: #563A9C;
}



h3 {
    border: 1px solid black;
    width: 25%;
    padding: 1.5%;
    font-size: 3vw;
    text-align: center;
    border-radius: 25px;
    background-color: #8C00FF;
    box-shadow: 5px 5px black;
    flex-wrap: wrap;
    justify-content:center;
    
}

#section1-box3 {
    margin-top: 6%;
    text-align: center;
}

/* .container-header {
    
} */



.container {
    padding-left: 20px;
    background-color: #8B5DFF;
    /* border: 1px solid black; */
    /* border-radius: 25px; */
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* box-shadow: 10px 10px #5A7863; */
    border-bottom: 3px solid #FFF7D1;
    height: 80vh;
}

.projects {
    padding-left: 20px;
    background-color: #90AB8B;
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 10px 10px #5A7863;
}

.container-header{
    display: flex;
    gap: 5px
}

.title-date {
    margin-left: auto;
}

.title-location {
    font-weight: normal;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

hr {
    margin-top: 4%;
    border-top: 5px dashed #5A7863;
    border-radius: 3%;
}

.container > ul {
    margin-top: -10px;
}

/* Section 1 */

/* #section1-container {
    border: 1px solid blue;
    border-radius: 25px;
} */

#section1-inner-container {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-bottom: 0%;
    /* padding-top: 10px;
    padding-right: 10px; */
    /* border: 1px solid red; */

    display: grid;
    
    flex-wrap: wrap;
    align-items: stretch;

    width: 100%;
    height: 95%;
    background-color: #563A9C;
    border-radius: 20px;
}

#section1-box1 {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* border: 1px solid yellow; */
    
    font-size: 3.5vw;

    max-width: 100%;
    max-height: 100%;

    grid-column: span 3;
    grid-row: span 1;
}

/* section1-box1 CONTENT */



section1-box1-imagebox {
    /* border: 5px solid red; */
}

img {
    width: 30vw;
    border-radius: 25px;
    border: 1px solid black;
}

#section1-box1-title {
    /* border: 1px solid blue; */

    display: block;
    grid-column: span 2;
}

#name {
    /* border: 1px solid black; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    text-align: center;
}

#career {
    /* border: 1px solid black; */
    margin-top: 0px;
    margin-left: 0%;
    color: #FFF7D1;
    text-align: center;
}

/* ----------------------- */

#section1-box2 {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    font-size: 2vw;
    
    background-color: #6A42C2;
    border-radius: 25px;
    /* border: 1px solid black; */

    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 100%;
    max-height: 100%;
}

/* section1-box2 CONTENT */

#section1-box3 {
    margin-top: 3%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 3%;
    
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 3%;

    font-size: 150%;
    text-align: center;
    color: #FFF7D1;

    background-color: #6A42C2;
    border-radius: 25px;
    /* border: 1px solid black; */
    
    grid-column: span 3;
    grid-row: span 1;

    max-width: 100%;
    max-height: 100%;
}

a {
    color: #FFF7D1;
}

/* Nav Bar */
.menu {
    background-color: #563A9C;
    top: 0;
    padding-top: 1%;
    border-bottom: 3px solid #FFF7D1;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-top: 1%;
    margin-bottom: 1%;

    font-family: "BBH Bogle", sans-serif;
    font-size: 150%;
    
    list-style-type: none;
}

.navlink {
    text-decoration: none;
}

.plink {
    text-decoration: none;
    font-size: 150%;
    font-family: "BBH Bogle", sans-serif;

    margin-top: 0%;
    margin-bottom: 0%;
    
}

footer {
    padding: 2.5%;
    color: #FFF7D1;
}

.projects-title {
    text-align: center;
    font-size: 10vw;
    color: #FFF7D1;
    font-family: "BBH Bogle", sans-serif;

    margin-top: 5%;
    margin-bottom: 0%;
    margin-bottom: 2.5%;
    padding-bottom: 0%;
}

/* Table */
table {
  border: 3px solid #FFF7D1;
}

td {
    border: 3px solid #FFF7D1;
    text-align: center;
    color: #FFF7D1;
    font-family: "BBH Bogle", sans-serif;

    padding: 1%;
}

tr {
    border-radius: 25px;
}

table {
  border-collapse: collapse;
  margin: 4%;
  margin-top: 0%;
}

.github-link:hover {
    background-color: #8C00FF;
    padding: 2.5%;
    border-radius: 10px;
}

.navlink:hover {
    background-color: #8C00FF;
    padding: 5%;
    border-radius: 10px;
}